.root {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #dedede;
  margin: 50px auto;
}

.field {
  margin-bottom: 20px !important;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 10px !important;
}

.butLogin {
  background-color: teal;
  border: 1px solid white;
  width: 100%;
  border-radius: 5px;
  padding: 12px;
  color: white;
  font-weight: 700;
  letter-spacing: 0.15px;
  cursor: pointer;
}
.avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  cursor: pointer;
  .avatarLog {
    width: 100px;
    border-radius: 100%;
    border: 2px solid gray;
  }
}
