.root {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 30px;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.logo {
  background-color: teal;
  color: #fff;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  border-radius: 5px;
  padding: 0 10px;
  text-decoration: none;

  &:hover {
    background-color: black;
  }
}

.buttons {
  button {
    margin-left: 10px;
  }

  .butSign {
    background-color: teal;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-weight: 700;
    letter-spacing: 0.15px;
    cursor: pointer;
  }
  .butLogin {
    background-color: white;
    border: 1px solid teal;
    border-radius: 5px;
    padding: 10px;
    color: teal;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 0.15px;
  }
  .butLogout {
    background-color: #c62828;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 0.15px;
  }

  a {
    text-decoration: none;
  }
}
