.root {
  background-color: #fff;
  padding: 10px 0;
  margin-top: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}

.inner {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  @media (max-width: 600px) {
    padding: 0 20px;
  }
}

.logo {
  color: #000;
  font-weight: 700;
  @media (max-width: 600px) {
    font-size: 14px;
  }
  line-height: 35px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  border-radius: 5px;
  padding: 0 10px;
  text-decoration: none;

  .logoBan {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .avatar {
    width: 30px;
    margin-right: 3px;
    align-self: center;
  }
  .avatar2 {
    width: 30px;
    margin-left: 3px;
    align-self: center;
    border-radius: 100%;
    background-color: #fff;
    &:hover {
      background-color: rgba(255, 255, 255, 0.795);
    }
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ccc;
  }
}

.buttons {
  .block {
    display: flex;
    justify-content: center;
  }
  .avaLink {
    display: flex;
    justify-content: center;
  }
  .avatar {
    width: 33px;
    border: 2px solid rgba(0, 128, 128, 0.719);
    cursor: pointer;
    &:hover {
      border: 2px solid teal;
    }
    border-radius: 100%;
    align-self: center;
  }
  button {
    margin-left: 10px;
  }

  .butSign {
    background-color: teal;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-weight: 700;
    letter-spacing: 0.15px;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 128, 128, 0.795);
    }
  }
  .butLogin {
    background-color: white;
    border: 1px solid teal;
    border-radius: 5px;
    padding: 9px;
    color: teal;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 0.15px;
    &:hover {
      background-color: rgba(0, 128, 128, 0.281);
    }
  }
  .butLogout {
    background-color: #c62828;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 0.15px;
    &:hover {
      background-color: #c62828c7;
    }
  }

  a {
    text-decoration: none;
  }
}
